html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  background-color: #f8f9fa;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.mantine-Drawer-title	{
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}