img {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-size: 1000px;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
}
body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.mantine-Drawer-title	{
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  #tinymce {
    font-size: 5px;
  }
}